#homepage {
  .add-urls {
    width: 90%;
    margin: 20px 0;

    textarea {
      width: 100%;
      border-radius: 10px;
      border: 1px solid #ccc;
      padding: 5px;
      height: 100px;
      display: block;
    }
  }
  .previous-runs {
    li {
      padding: 5px;
      a {
        padding-right: 5px;
      }
    }
  }
}
