extends layout

block content
  div#homepage
    div.hero-unit
      h1 CSSCoverage
    form.add-urls(method="POST", action="/run")
      h2 Enter Urls:
      textarea(name='urls')
      button.btn(type='submit') Go!

block scripts
  script
    $('form.add-urls').on('submit', function() {
      var urls = $('textarea').val();
      localStorage.setItem('urls', urls);
    });

    var urls = localStorage.getItem('urls');
    if (urls)
      $('textarea').val(urls);
